@model Assessment6Week7.Models.Character

@{
    ViewBag.Title = "View";
}

<h2 class="font">@Model.name</h2>

<div>
    <hr />
    <dl class="dl-horizontal font" style="color:white; font-size:17px;">
        <dt>
            @Html.DisplayNameFor(model => model.url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.culture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.culture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.born)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.born)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.died)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.died)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.father)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.father)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mother)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mother)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.spouse)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.spouse)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.playedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.playedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tvSeries)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tvSeries)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.titles)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.titles)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.allegiances)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.allegiances)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.books)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.books)
        </dd>
    </dl>
</div>
