@model IEnumerable<Week7Assessment6.Models.Dish>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PersonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DishName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DishDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Option)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PersonName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DishName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DishDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Option)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DishID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DishID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DishID })
        </td>
    </tr>
}

</table>
